<meta charset="utf-8">
<link rel="icon" type="image/x-icon" href="{{ "favicons/favicon.ico" | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "favicons/apple-touch-icon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicons/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicons/favicon-16x16.png" | relURL }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

{{ $sass := resources.Get "scss/main.scss" | css.Sass | resources.Minify | fingerprint }}
<link rel="stylesheet" href="{{ $sass.RelPermalink }}">

{{ if .Site.Params.prism_syntax_highlighting }}
  <link rel="stylesheet" href="{{ "css/prism.css" | relURL }}">
{{ end }}

{{ partial "hooks/head-end.html" . }}