<div class="my-2">
    <div
        class="nav-btns-container d-flex flex-column flex-md-row {{ if not .Page.Params.prevhref }} justify-content-end {{ else }} justify-content-between {{ end }}"
    >
        {{ if and .Page.Params.prevhref .Page.Params.prevTitle }}
        <a
            class="btn btn-outline-primary rounded-1 col-lg-5 col-md-4 col-sm-11 my-2 prev-btn"
            href="{{ .Page.Params.prevhref }}"
            role="button"
        >
            <div
                class="d-flex flex-row justify-content-between align-items-center"
            >
                <i class="fa-solid fa-arrow-left"></i>
                <div class="d-flex flex-column nav-items-flex-col text-end">
                    <p style="margin-bottom: 0">{{ .Page.Params.prevTitle}}</p>
                </div>
            </div>
        </a>
        {{ end }} {{ if and .Page.Params.nexthref .Page.Params.nextTitle }}
        <a
            class="btn btn-outline-primary rounded-1 col-lg-5 col-md-4 col-sm-11 my-2 next-btn"
            href="{{ .Page.Params.nexthref }}"
            role="button"
        >
            <div
                class="d-flex flex-row justify-content-between align-items-center"
            >
                <div class="d-flex flex-column nav-items-flex-col text-start">
                    <p style="margin-bottom: 0">{{ .Page.Params.nextTitle }}</p>
                </div>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </a>
        {{ end }}
    </div>
</div>
